.row-fluid
	.span6
		%h1=t 'pages.join.title'
	.span6
	.span12
		%hr/
.row-fluid
	.span8
		%h2=t 'pages.join.subtitle'
	.span4
		%a.btn.btn-large.btn-primary.pull-right{href: '#'}=t 'pages.join.download'

= mixpanel_call('track', 'Viewed teaser page', "{'Teaser version': 'templates'}")