.row-fluid#value_prop
	.span12
		%h1=t 'pages.signup.title'

.row-fluid#community
	.span9#image
		= image_tag 'community.jpg'
	.span3#experts
		%h2=t 'pages.signup.community_title'
		=t 'pages.signup.community_html'
		#description
			= image_tag 'certified_small.jpg'
			=t 'pages.signup.community2_html'

.row-fluid#cta
	.span12
		.cta-text=t 'pages.signup.cta'
		.btn.btn-large.btn-primary.hidden-phone.cta-signup{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.signup.cta_title')}
			=t 'pages.signup.cta_button'
		.btn.btn-primary.visible-phone.cta-signup{href: '#notif-modal', 'data-toggle' => 'modal', title: t('pages.signup.cta_title')}
			=t 'pages.signup.cta_button'

%footer.signup-footer
	.container
		.row-fluid
			.span4
				.hidden-phone
					%h3=t 'pages.follow'
				.social-links
					%a{href: 'http://twitter.com/joblr_co', target: 'blank'}
						.icon-twitter
					%a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
						.icon-linkedin
					%a{href: 'http://fb.me/joblr.co', target: 'blank'}
						.icon-facebook
			.span4.offset4#about-us.hidden-phone
				%h3=t 'pages.about_us'
				%p=t 'pages.about_us_description_html'
