.row-fluid
	.span4
	.span4
		%h1=t 'pages.signup.title'
	.span4

.row-fluid
	.span12

.row-fluid
	.span9
		%h2=t 'pages.signup.subtitle'
	.span3
		%a.btn.btn-large.btn-primary.pull-right{href: '#'}=t 'pages.signup.signup'

- if Rails.env.production?
	= ga_init('5')
	= mixpanel_call('track', 'Viewed teaser page', "{'Teaser version': 'feedback'}")