.container{
  font-family:Helvetica;
}

#value_prop{
  text-align:center;
  h1{
    font-size:36px;
  }
  // small desktop and tablet
  @media (min-width:768px) and (max-width:1200px) {
    h1{
      font-size:29px;
    }
  }
  // phone
  @media (max-width:767px) {
    h1{
      font-size:26px;
    }
  }
  h3{
    margin-top: 10px;
    // phone
    @media (max-width:767px){
      font-size: 17px;
    }
  }
}

#images{
  margin-top:53px;
  #certified{
    background: url('certified.jpg') no-repeat top right;
    margin-top:106px;
    h2{
      padding-top:15px;
      font-size:24px;
    }
    p{
      margin-top:30px;
      font-size:18px;
      line-height:26px;
      padding-right:20px;
    }
    // small desktop
    @media (min-width:980px) and (max-width: 1200px) {
      margin-top: 33px;
    }
    // tablet
    @media (min-width:768px) and (max-width: 979px) {
      margin-top:8px;
      background-size: 100px 100px;
      h2{
        font-size:20px;
      }
      p{
        margin-top:10px;
        font-size:15px;
        line-height:20px;
      }
    }
    // phone
    @media (max-width:767px) {
      margin-top:0;
      background: none;
      h2{
        padding-top:50px;
        font-size:20px;
      }
      p{
        margin-top:15px;
        font-size:16px;
        line-height:23px;
      }
    }
  }
  #partners{
    .partner{
      max-width:80px;
      display:table-cell;
      padding-right:30px;
      h5{
        margin-top:3px;
        text-align:center;
      }
      .last{
        padding-right:20px;
      }
      // tablet
      @media (min-width:768px) and (max-width: 979px) {
        h5{
          font-size:11px;
        }
        padding-right:20px;
        .last{
          padding-right:15px;
        }
      }
    }
  }
}

#notif-modal{
  padding:25px;
  font-weight:100;
  p{
    font-size:18px;
    line-height:26px;
  }
  input{
    height:28px;
  }
  p.team{
    margin:42px 0 8px 0;
    font-size:16px;
    font-style:italic;
  }
  .input-append{
    display:inline-block;
    .btn{
      @include border-radius(0 3px 3px 0);
    }
  }
  #images{
    margin-top:0;
  }
}