body{
  //overflow:hidden;
}
.container{
  font-family:Helvetica;
}

#value_prop{
  text-align:center;
  h1{
    font-size:36px;
  }
  // small desktop and tablet
  @media (min-width:768px) and (max-width:1200px) {
    h1{
      font-size:29px;
    }
  }
  // phone
  @media (max-width:767px) {
    h1{
      font-size:26px;
    }
  }
}

#images{
  margin-top:53px;
  #certified{
    background: url('certified.jpg') no-repeat top right;
    margin-top:106px;
    h2{
      padding-top:15px;
      font-size:24px;
    }
    p{
      margin-top:30px;
      font-size:18px;
      line-height:26px;
      padding-right:20px;
    }
    // small desktop
    @media (min-width:980px) and (max-width: 1200px) {
      margin-top: 33px;
    }
    // tablet
    @media (min-width:768px) and (max-width: 979px) {
      margin-top:8px;
      background-size: 100px 100px;
      h2{
        font-size:20px;
      }
      p{
        margin-top:10px;
        font-size:15px;
        line-height:20px;
      }
    }
    // phone
    @media (max-width:767px) {
      margin-top:0;
      background: none;
      h2{
        padding-top:50px;
        font-size:20px;
      }
      p{
        margin-top:15px;
        font-size:16px;
        line-height:23px;
      }
    }
  }
  #partners{
    .partner{
      max-width:80px;
      display:table-cell;
      padding-right:30px;
      h5{
        margin-top:3px;
        text-align:center;
      }
      .last{
        padding-right:20px;
      }
      // tablet
      @media (min-width:768px) and (max-width: 979px) {
        h5{
          font-size:11px;
        }
        img{
          max-width:60px;
          max-height:60px;
        }
        padding-right:20px;
        .last{
          padding-right:15px;
        }
      }
    }
  }
}

#community{
  margin-top: 70px;
  // tablet and phone
  @media (max-width:979px){
    #image{
      width:100%;
    }
  }
  #experts{
    background-color:white;
    padding:10px;
    text-align:right;
    h2{
      text-align:center;
      font-size:23px;
      padding-bottom:25px;
    }
    // big desktop
    @media (min-width:1201px) {
      min-height:354px;
    }
    // tablet and phone
    @media (max-width:979px) {
      text-align:left;
      width:100%;
      margin-left:0%;
      margin-top:50px;
      h2{
        padding-bottom:12px;
      }
    }
    // small desktop
    @media (min-width:980px) and (max-width:1200px) {
      h2{
        font-size:18px;
        padding-bottom:10px;
      }
    }
    #description{
      margin-top:20px;
    }

  }
}

#cta{
  .span12{
    background-color:$white;
    border:5px solid #78797a;
    margin-top:43px;
    padding:40px 20px;
    text-align:center;
    .cta-text{
      display:inline-block;
      font-size:20px;
      font-weight:bold;
    }
    @include box-shadow(0 0 5px 0 $grayLight);
    .btn{
      margin-left:20px;
    }
    // tablet and phones
    @media (max-width:979px) {
      .btn{
        margin-top:15px;
      }
      line-height:25px;
    }
    // phone
    @media (max-width:767px) {
      margin-top: 54px;
      font-size:18px;
      .btn{
        width:150px;
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
}

footer{
  position:absolute;
  background-color:#e1e2e5;
  left:0;
  width:100%;
  margin-top:-70px;
  z-index:-10;
  .container{
    margin-top:108px;
    margin-bottom:34px;
    // tablet & phone
    @media (max-width: 979px) {
      margin-top:127px;
    }
    h3{
      font-size:18px;
    }
    .social-links{
      margin-top:20px;
      a{
        font-size:30px;
        margin-right:10px;
        color:$grayDark;
        &:hover{
          color:$black;
          text-decoration:none;
        }
      }
      // phone
      @media (max-width:767px) {
        text-align: center;
        margin-top:0;
      }
    }
    #about-us{
      text-align:right;
      font-size:13px;
      p{
        margin:20px 0 0 0;
      }
    }
  }
  // tablet
  @media (min-width:768px) and (max-width: 979px) {
    margin-top:-90px;
  }

  // tablet and phone
  @media (max-width:767px) {
    margin-top:-95px;
  }

  &.signup-footer{
    // small desktop
    @media (min-width:980px) and (max-width:1200px){
      margin-top: -72px;
    }
  }
}

#notif-modal{
  padding:25px;
  font-weight:100;
  p{
    font-size:18px;
    line-height:26px;
  }
  input{
    height:28px;
  }
  p.team{
    margin:42px 0 8px 0;
    font-size:16px;
    font-style:italic;
  }
  .input-append{
    display:inline-block;
    .btn{
      @include border-radius(0 3px 3px 0);
    }
  }
  #images{
    margin-top:0;
  }
}

#templates-join{
  margin-top:40px;
}

#templates{
  p{
    margin-bottom:50px;
    text-align:center;
    color: $black;
  }
}

#wrapper{
  overflow:hidden;
  margin-bottom:50px;
  #slider{
    margin-left:0;
    white-space:nowrap;
    @include transition(margin-left, 1s);
    .template{
      display:inline-block;
      white-space:normal;
      margin-right:50px;
      text-align:center;
      img{
        max-height:500px;
        margin-bottom:30px;
        @include box-shadow(0 0 15px 0 lighten($grayLight,15%));
        &.small{
          max-height:350px;
        }
      }
    }
  }
  #arrow-left{
    @include opacity(0);
    @include transition(opacity, 0.1s);
    position:absolute;
    left:0;
    top:391px;
    width:100px;
    height:100px;
    background: url('base/arrow-left.png') no-repeat center;
    cursor:pointer;
    &.small{
      top:376px;
    }
  }
  #arrow-right{
    @include opacity(0);
    @include transition(opacity, 0.1s);
    position:absolute;
    right:0;
    top:391px;
    width:100px;
    height:100px;
    background: url('base/arrow-right.png') no-repeat center;
    cursor:pointer;
    &.small{
      top:376px;
    }
  }
}